api = "0.7"

[buildpack]
  id = "paketo-buildpacks/poetry"
  name = "Paketo Buildpack for Poetry"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/poetry/blob/main/LICENSE"

[metadata]
  include-files = ["buildpack.toml", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/run", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/run"]
  pre-package = "./scripts/build.sh --target linux/amd64 --target linux/arm64"

  [[metadata.dependencies]]
    checksum = "sha256:796e2866f35cb57af36280a890f5a5b3f9ef1a2dcf780b945b02be2e82895391"
    cpe = "cpe:2.3:a:python-poetry:poetry:1.7.0:*:*:*:*:python:*:*"
    id = "poetry"
    licenses = ["MIT"]
    name = "Poetry"
    purl = "pkg:generic/poetry@1.7.0?checksum=796e2866f35cb57af36280a890f5a5b3f9ef1a2dcf780b945b02be2e82895391&download_url=https://files.pythonhosted.org/packages/c5/ff/d37625b6d2fe7f3b5a784da4684b011cc56b599f4d9aa249dac7e96b271a/poetry-1.7.0.tar.gz"
    source = "https://files.pythonhosted.org/packages/c5/ff/d37625b6d2fe7f3b5a784da4684b011cc56b599f4d9aa249dac7e96b271a/poetry-1.7.0.tar.gz"
    source-checksum = "sha256:796e2866f35cb57af36280a890f5a5b3f9ef1a2dcf780b945b02be2e82895391"
    stacks = ["*"]
    uri = "https://files.pythonhosted.org/packages/c5/ff/d37625b6d2fe7f3b5a784da4684b011cc56b599f4d9aa249dac7e96b271a/poetry-1.7.0.tar.gz"
    version = "1.7.0"

  [[metadata.dependencies]]
    checksum = "sha256:b348a70e7d67ad9c0bd3d0ea255bc6df84c24cf4b16f8d104adb30b425d6ff32"
    cpe = "cpe:2.3:a:python-poetry:poetry:1.7.1:*:*:*:*:python:*:*"
    id = "poetry"
    licenses = ["MIT"]
    name = "Poetry"
    purl = "pkg:generic/poetry@1.7.1?checksum=b348a70e7d67ad9c0bd3d0ea255bc6df84c24cf4b16f8d104adb30b425d6ff32&download_url=https://files.pythonhosted.org/packages/bb/cf/cfdd5ab997bdb51a29c5f1d1925c409c58d5e504062c105dc0d82ec9e7c5/poetry-1.7.1.tar.gz"
    source = "https://files.pythonhosted.org/packages/bb/cf/cfdd5ab997bdb51a29c5f1d1925c409c58d5e504062c105dc0d82ec9e7c5/poetry-1.7.1.tar.gz"
    source-checksum = "sha256:b348a70e7d67ad9c0bd3d0ea255bc6df84c24cf4b16f8d104adb30b425d6ff32"
    stacks = ["*"]
    uri = "https://files.pythonhosted.org/packages/bb/cf/cfdd5ab997bdb51a29c5f1d1925c409c58d5e504062c105dc0d82ec9e7c5/poetry-1.7.1.tar.gz"
    version = "1.7.1"

  [[metadata.dependencies]]
    checksum = "sha256:5490f8da66d17eecd660e091281f8aaa5554381644540291817c249872c99202"
    cpe = "cpe:2.3:a:python-poetry:poetry:1.8.4:*:*:*:*:python:*:*"
    id = "poetry"
    licenses = ["MIT"]
    name = "Poetry"
    purl = "pkg:generic/poetry@1.8.4?checksum=5490f8da66d17eecd660e091281f8aaa5554381644540291817c249872c99202&download_url=https://files.pythonhosted.org/packages/29/84/dbf6db6ecf3cbb2926c05a0b831bb03559c15b700d9836c8afc9022bcedb/poetry-1.8.4.tar.gz"
    source = "https://files.pythonhosted.org/packages/29/84/dbf6db6ecf3cbb2926c05a0b831bb03559c15b700d9836c8afc9022bcedb/poetry-1.8.4.tar.gz"
    source-checksum = "sha256:5490f8da66d17eecd660e091281f8aaa5554381644540291817c249872c99202"
    stacks = ["*"]
    uri = "https://files.pythonhosted.org/packages/29/84/dbf6db6ecf3cbb2926c05a0b831bb03559c15b700d9836c8afc9022bcedb/poetry-1.8.4.tar.gz"
    version = "1.8.4"

  [[metadata.dependencies]]
    checksum = "sha256:eb2c88d224f58f36df8f7b36d6c380c07d1001bca28bde620f68fc086e881b70"
    cpe = "cpe:2.3:a:python-poetry:poetry:1.8.5:*:*:*:*:python:*:*"
    id = "poetry"
    licenses = ["MIT"]
    name = "Poetry"
    purl = "pkg:generic/poetry@1.8.5?checksum=eb2c88d224f58f36df8f7b36d6c380c07d1001bca28bde620f68fc086e881b70&download_url=https://files.pythonhosted.org/packages/08/92/42ed153d5590484fc39a76003262d8e0f102ed8ce5d86c803b23b8d5cc9d/poetry-1.8.5.tar.gz"
    source = "https://files.pythonhosted.org/packages/08/92/42ed153d5590484fc39a76003262d8e0f102ed8ce5d86c803b23b8d5cc9d/poetry-1.8.5.tar.gz"
    source-checksum = "sha256:eb2c88d224f58f36df8f7b36d6c380c07d1001bca28bde620f68fc086e881b70"
    stacks = ["*"]
    uri = "https://files.pythonhosted.org/packages/08/92/42ed153d5590484fc39a76003262d8e0f102ed8ce5d86c803b23b8d5cc9d/poetry-1.8.5.tar.gz"
    version = "1.8.5"

  [[metadata.dependencies]]
    checksum = "sha256:9416b1e3657ed02cda9599ae73b604bd68f187adaa2d8d1bcc804dacfa9bcd1f"
    cpe = "cpe:2.3:a:python-poetry:poetry:2.0.0:*:*:*:*:python:*:*"
    id = "poetry"
    licenses = ["MIT"]
    name = "Poetry"
    purl = "pkg:generic/poetry@2.0.0?checksum=9416b1e3657ed02cda9599ae73b604bd68f187adaa2d8d1bcc804dacfa9bcd1f&download_url=https://files.pythonhosted.org/packages/d4/ff/02f870cb68af7cf46a112c804920fbeea36b25d538e309e0ffc51238ed0b/poetry-2.0.0.tar.gz"
    source = "https://files.pythonhosted.org/packages/d4/ff/02f870cb68af7cf46a112c804920fbeea36b25d538e309e0ffc51238ed0b/poetry-2.0.0.tar.gz"
    source-checksum = "sha256:9416b1e3657ed02cda9599ae73b604bd68f187adaa2d8d1bcc804dacfa9bcd1f"
    stacks = ["*"]
    uri = "https://files.pythonhosted.org/packages/d4/ff/02f870cb68af7cf46a112c804920fbeea36b25d538e309e0ffc51238ed0b/poetry-2.0.0.tar.gz"
    version = "2.0.0"

  [[metadata.dependencies]]
    checksum = "sha256:a2987c3162f6ded6db890701a6fc657d2cfcc702e9421ef4c345211c8bffc5d5"
    cpe = "cpe:2.3:a:python-poetry:poetry:2.0.1:*:*:*:*:python:*:*"
    id = "poetry"
    licenses = ["MIT"]
    name = "Poetry"
    purl = "pkg:generic/poetry@2.0.1?checksum=a2987c3162f6ded6db890701a6fc657d2cfcc702e9421ef4c345211c8bffc5d5&download_url=https://files.pythonhosted.org/packages/3c/8b/5467e3301050055d365e602cc6ba574ee4fbc8163aeec213e5a75b3f219b/poetry-2.0.1.tar.gz"
    source = "https://files.pythonhosted.org/packages/3c/8b/5467e3301050055d365e602cc6ba574ee4fbc8163aeec213e5a75b3f219b/poetry-2.0.1.tar.gz"
    source-checksum = "sha256:a2987c3162f6ded6db890701a6fc657d2cfcc702e9421ef4c345211c8bffc5d5"
    stacks = ["*"]
    uri = "https://files.pythonhosted.org/packages/3c/8b/5467e3301050055d365e602cc6ba574ee4fbc8163aeec213e5a75b3f219b/poetry-2.0.1.tar.gz"
    version = "2.0.1"

  [[metadata.dependencies]]
    checksum = "sha256:f2c9bd6790b19475976d88ea4553bcc3533c0dc73f740edc4fffe9e2add50594"
    cpe = "cpe:2.3:a:python-poetry:poetry:2.1.3:*:*:*:*:python:*:*"
    id = "poetry"
    licenses = ["MIT"]
    name = "Poetry"
    purl = "pkg:generic/poetry@2.1.3?checksum=f2c9bd6790b19475976d88ea4553bcc3533c0dc73f740edc4fffe9e2add50594&download_url=https://files.pythonhosted.org/packages/db/12/1c8d8b2c6017a33a9c9c708c6d2bb883af7f447520a466dc21d2c74ecfe1/poetry-2.1.3.tar.gz"
    source = "https://files.pythonhosted.org/packages/db/12/1c8d8b2c6017a33a9c9c708c6d2bb883af7f447520a466dc21d2c74ecfe1/poetry-2.1.3.tar.gz"
    source-checksum = "sha256:f2c9bd6790b19475976d88ea4553bcc3533c0dc73f740edc4fffe9e2add50594"
    stacks = ["*"]
    uri = "https://files.pythonhosted.org/packages/db/12/1c8d8b2c6017a33a9c9c708c6d2bb883af7f447520a466dc21d2c74ecfe1/poetry-2.1.3.tar.gz"
    version = "2.1.3"

  [[metadata.dependencies]]
    checksum = "sha256:bed4af5fc87fb145258ac5b1dae77de2cd7082ec494e3b2f66bca0f477cbfc5c"
    cpe = "cpe:2.3:a:python-poetry:poetry:2.1.4:*:*:*:*:python:*:*"
    id = "poetry"
    licenses = ["MIT"]
    name = "Poetry"
    purl = "pkg:generic/poetry@2.1.4?checksum=bed4af5fc87fb145258ac5b1dae77de2cd7082ec494e3b2f66bca0f477cbfc5c&download_url=https://files.pythonhosted.org/packages/4e/f3/d7f0fcefd3577d01574bbc43b0e93b00fec529b9dc14f838dc4502670a08/poetry-2.1.4.tar.gz"
    source = "https://files.pythonhosted.org/packages/4e/f3/d7f0fcefd3577d01574bbc43b0e93b00fec529b9dc14f838dc4502670a08/poetry-2.1.4.tar.gz"
    source-checksum = "sha256:bed4af5fc87fb145258ac5b1dae77de2cd7082ec494e3b2f66bca0f477cbfc5c"
    stacks = ["*"]
    uri = "https://files.pythonhosted.org/packages/4e/f3/d7f0fcefd3577d01574bbc43b0e93b00fec529b9dc14f838dc4502670a08/poetry-2.1.4.tar.gz"
    version = "2.1.4"

  [[metadata.dependencies]]
    checksum = "sha256:c6bc7e9d2d5aad4f6818cc5eef1f85fcfb7ee49a1aab3b4ff66d0c6874e74769"
    cpe = "cpe:2.3:a:python-poetry:poetry:2.2.0:*:*:*:*:python:*:*"
    id = "poetry"
    licenses = ["MIT"]
    name = "Poetry"
    purl = "pkg:generic/poetry@2.2.0?checksum=c6bc7e9d2d5aad4f6818cc5eef1f85fcfb7ee49a1aab3b4ff66d0c6874e74769&download_url=https://files.pythonhosted.org/packages/57/a6/28b83bb81911dc5b2a6a2be4006cceb29b0915b2f62d2e44192e315c2456/poetry-2.2.0.tar.gz"
    source = "https://files.pythonhosted.org/packages/57/a6/28b83bb81911dc5b2a6a2be4006cceb29b0915b2f62d2e44192e315c2456/poetry-2.2.0.tar.gz"
    source-checksum = "sha256:c6bc7e9d2d5aad4f6818cc5eef1f85fcfb7ee49a1aab3b4ff66d0c6874e74769"
    stacks = ["*"]
    uri = "https://files.pythonhosted.org/packages/57/a6/28b83bb81911dc5b2a6a2be4006cceb29b0915b2f62d2e44192e315c2456/poetry-2.2.0.tar.gz"
    version = "2.2.0"

  [[metadata.dependencies]]
    checksum = "sha256:bef9aa4bb00ce4c10b28b25e7bac724094802d6958190762c45df6c12749b37c"
    cpe = "cpe:2.3:a:python-poetry:poetry:2.2.1:*:*:*:*:python:*:*"
    id = "poetry"
    licenses = ["MIT"]
    name = "Poetry"
    purl = "pkg:generic/poetry@2.2.1?checksum=bef9aa4bb00ce4c10b28b25e7bac724094802d6958190762c45df6c12749b37c&download_url=https://files.pythonhosted.org/packages/19/28/f790e21769afaaa1f326d9634f9a5c700c4cdb4c468a1707c6db0b350505/poetry-2.2.1.tar.gz"
    source = "https://files.pythonhosted.org/packages/19/28/f790e21769afaaa1f326d9634f9a5c700c4cdb4c468a1707c6db0b350505/poetry-2.2.1.tar.gz"
    source-checksum = "sha256:bef9aa4bb00ce4c10b28b25e7bac724094802d6958190762c45df6c12749b37c"
    stacks = ["*"]
    uri = "https://files.pythonhosted.org/packages/19/28/f790e21769afaaa1f326d9634f9a5c700c4cdb4c468a1707c6db0b350505/poetry-2.2.1.tar.gz"
    version = "2.2.1"

  [[metadata.dependencies]]
    checksum = "sha256:423cbccfe3533155ce9f49e929780a1386e564b2d97d2380664ea388cfe1191c"
    cpe = "cpe:2.3:a:python-poetry:poetry:2.3.1:*:*:*:*:python:*:*"
    id = "poetry"
    licenses = ["MIT"]
    name = "Poetry"
    purl = "pkg:generic/poetry@2.3.1?checksum=423cbccfe3533155ce9f49e929780a1386e564b2d97d2380664ea388cfe1191c&download_url=https://files.pythonhosted.org/packages/f0/c1/1cafdad3dae01aa5693339809847d89cd1379d1dff0329da7d791a2db5c4/poetry-2.3.1.tar.gz"
    source = "https://files.pythonhosted.org/packages/f0/c1/1cafdad3dae01aa5693339809847d89cd1379d1dff0329da7d791a2db5c4/poetry-2.3.1.tar.gz"
    source-checksum = "sha256:423cbccfe3533155ce9f49e929780a1386e564b2d97d2380664ea388cfe1191c"
    stacks = ["*"]
    uri = "https://files.pythonhosted.org/packages/f0/c1/1cafdad3dae01aa5693339809847d89cd1379d1dff0329da7d791a2db5c4/poetry-2.3.1.tar.gz"
    version = "2.3.1"

  [[metadata.dependencies]]
    checksum = "sha256:6e81526ae99a4f07f75174600bfe8b73e74c786dc18c9d1ce1800dd6f807414b"
    cpe = "cpe:2.3:a:python-poetry:poetry:2.3.2:*:*:*:*:python:*:*"
    id = "poetry"
    licenses = ["MIT"]
    name = "Poetry"
    purl = "pkg:generic/poetry@2.3.2?checksum=6e81526ae99a4f07f75174600bfe8b73e74c786dc18c9d1ce1800dd6f807414b&download_url=https://files.pythonhosted.org/packages/7d/b7/4c242ff85f6263f411060336ef7370e444b1718de1122d0c145e92170b01/poetry-2.3.2.tar.gz"
    source = "https://files.pythonhosted.org/packages/7d/b7/4c242ff85f6263f411060336ef7370e444b1718de1122d0c145e92170b01/poetry-2.3.2.tar.gz"
    source-checksum = "sha256:6e81526ae99a4f07f75174600bfe8b73e74c786dc18c9d1ce1800dd6f807414b"
    stacks = ["*"]
    uri = "https://files.pythonhosted.org/packages/7d/b7/4c242ff85f6263f411060336ef7370e444b1718de1122d0c145e92170b01/poetry-2.3.2.tar.gz"
    version = "2.3.2"

  [[metadata.dependency-constraints]]
    constraint = "1.7.*"
    id = "poetry"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "1.8.*"
    id = "poetry"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "2.0.*"
    id = "poetry"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "2.1.*"
    id = "poetry"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "2.2.*"
    id = "poetry"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "2.3.*"
    id = "poetry"
    patches = 2

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
